@using WebCrawler_1.Data;
@using WebCrawler_1.Models;

    @model IEnumerable<GetUrls>
@{
    ViewData["Title"] = "SaveInfo";
}

<h1>Save Info</h1>

<table class="table-bordered">
    <tr>
        <th class="col-form-label-sm">
            Id Number
        </th>
        <th>
            Searched Item
        </th>
        <th>
            Item Name
        </th>
        <th>
            Price
        </th>
        <th>
            Date
        </th>
    </tr>
    @{ foreach (var item in Model)
        {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.NewSearch
            </td>
            <td>
                @item.ItemName
            </td>

            <td>
                @item.ItemPrice
            </td>

            <td>
                @item.Date
            </td>

            <td>
                <form asp-action="SaveInfo">
                    <div class="form-group">
            <input type="hidden" name="SaveInfo" value="@item.ID" data="@item.ID" />
            
            @*<input type="submit" value="Delete" data="@Model" class="btn btn-danger" />*@
            </div>
            </form>
            </td>

        </tr>
        }
    }
</table>
